DB_HOST = localhost
DB_PORT = 5439
DB_USERNAME = 
DB_PASSWORD = 
DB_NAME = realtime_chat_app
DB_SSL_MODE=disable
DB_MIN_CONNS=2
DB_MAX_CONNS=20
DB_MAX_IDLE_TIME=5m
DB_TIMEZONE=Asia/Jakarta

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=""

CONSUL_HOST=localhost
CONSUL_PORT=8500
NATS_HOST=localhost
NATS_PORT=4222
NATS_MONITORING_PORT=8222

USER_HTTP_ADDR=localhost
USER_HTTP_PORT=8001
USER_SVC_NAME=user-svc

USER_GRPC_ADDR=localhost
USER_GRPC_PORT=50051


ADMIN_ACCESS_TOKEN_SECRET=
USER_ACCESS_TOKEN_SECRET=

ADMIN_ACCESS_TOKEN_EXP_MINUTE=240
USER_ACCESS_TOKEN_EXP_MINUTE=240